<div class="container">
	<h2>About RTD</h2>
	<p>
		<%= image_tag("rtd_home_1.jpg") %>
	</p>
	<p style="font-size:1.3em">
		The Research Triangle Decathlon is a premier athletic event hosted by the Matthew J. Pierce Jr. Memorial Foundation. The event will enable all working and aspiring professionals in the Research Triangle Area to showcase their athletic ability in a friendly competitive environment that aims to converge professional networking, philanthropy, and healthy living.
	</p>

	<p><%= image_tag("mjp_logo_small.png") %></p>
	<p style="font-size:1.3em">
		The MJPJMF is a non-profit event management firm that aims to raise money in order to support underprivileged children across America.  Proceeds from all events will be used to fund a memorial scholarship in the name of the late Matthew J. Pierce Jr. who tragically lost his life on April 7th, 2013. As well as support the wake county public school budget deficit.
	</p>
</div>