<style>
.btn-white-text, a:visited {
	color: #fff;
}
</style>

<h1>Registration</h1>

<br/>
<div class="btn-group">

	<%= link_to 'Register for RTD', new_user_path, class: 'btn btn-primary btn-white-text' %><br/><br/>
	<%= link_to 'View Registered People', users_path, class: 'btn btn-primary btn-white-text' %>

</div>

